@model DetailedAlbumListingServiceModel

@{
    ViewBag.Title = this.Model.BandName + ": " + this.Model.Name;
    Layout = "_Layout";
    var count = 1;
}
<h1 class="text-center font-weight-bold mb-5 pt-5">@this.ViewData[ "Title" ]</h1>

<div class="row justify-content-around mb-5">
    <div class="col-lg-3 text-center">
        <img src="@this.Model.ImageUrl" style="width: 250px; height: 250px" />
    </div>
    <div class="col-lg-8">
        <h4  id="track-listing">Track Listing:</h4>
        <div id="accordion" class="track-list">
            @foreach ( var song in this.Model.Songs )
            {
                <h5 id="@song.Id" class="row m-0">
                    <span class="col-2 text-center">@count</span>
                    <span class="col-10">@song.Name</span>
                </h5>
                <div id="@song.Id" class="youtube-song">
                    <iframe src="https://www.youtube.com/embed/@song.UrlId"
                            gesture="media"
                            allow="encrypted-media"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
                count++;
            }
        </div>
    </div>
</div>

<script>
    $("body").addClass(" album-details");
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            active: false
        });
    });
</script>