@model BandDetailsServiceModel

@{
    this.ViewBag.Title = this.Model.Name;
    this.Layout = "_Layout";
}

<div id="detailBody">

    <h1 class="text-center pt-5">@this.ViewData[ "Title" ]</h1>
    <h4 class="text-center mb-5">Genres: @this.Model.Genre.ToString()</h4>

    <div class="mb-5">
        <h2 class="text-center pb-5">Albums</h2>
        <div class="row justify-content-around">
            @foreach ( var album in this.Model.Albums )
            {
                <div class="col-lg-2 text-center">
                    <a class="band-details-link" asp-area="" asp-controller="Bands" asp-action="AlbumDetails" asp-route-id="@album.Id">
                        <img src="@album.ImageUrl" class="album-cover"  alt="concert-poster"/>
                        @album.Name
                    </a>
                </div>
            }
        </div>

    </div>
    <div class="pt-5 pb-5">
        <h2 class="text-center mb-5">Concerts</h2>
        <div class="row justify-content-around text-center">
            @foreach ( var concert in this.Model.Concerts.OrderBy( c => c.EndDate ) )
            {
                <div class="col-lg-5">
                    <h4>
                        <a class="band-details-link" asp-area="" asp-controller="Concerts" asp-action="Details" asp-route-id="@concert.Id">
                            <img src="@concert.PosterUrl" class="concert-cover" />
                            @concert.Name
                        </a>
                    </h4>
                    <p>Held on @concert.StartDate.ToShortDateString() to @concert.EndDate.ToShortDateString()</p>
                    <p>
                        <strong>
                            <em>"@concert.Location"</em>
                        </strong> - @concert.City, @concert.Country
                    </p>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $("body").addClass(" band-details");
</script>