@model  IEnumerable< AllBandsServiceModel > 

@{
    ViewBag.Title = "All Bands";
    Layout = "_Layout";
    var bands = this.Model.GroupBy( b => b.Name[ 0 ] );
}

<script>
    $("body").addClass(" nu-bands-Index");
    $('main').removeAttr('id');
</script>

<section id="bands-index">

    <h1 class="text-center w-100">@( this.ViewData[ "Title" ] )</h1>
        @foreach ( var band in bands.OrderBy( b => b.Key ) )
        {
            <article class="col-lg-4" style="margin-bottom: 15px">
                
                    <h3>@band.Key</h3>
                    @foreach ( var b in band.OrderBy( bnd => bnd.Name ) )
                    {
                        <div class="toggler">
                            <div class="nu-bands-ListBands" id="@b.Id"><a asp-area="" asp-controller="Bands" asp-action="Details" asp-route-id="@b.Id">@b.Name</a> - @b.Genre</div>
                            <div class="row justify-content-around " style="display: none; list-style: none" id="@b.Id-album">
                                @foreach ( var album in b.Albums )
                                {
                                    <div class="col-md-3">
                                        <a asp-area="" asp-controller="Bands" asp-action="AlbumDetails" asp-route-id="@album.Id">
                                            <img src="@album.ImageUrl" style="width: 50px; height: 50px"/>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
            </article>
        }
</section>

<script>
    $(document).ready(function() {
        $(".toggler").click(function(event) {
            $("#" + event.target.id + "-album").slideToggle(300);
        });
    });
</script>