@model  IEnumerable< ListPreviousConcertsServiceModel > 

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

@foreach ( var concert in this.Model.Take( 3 ) )
{
    var genre = "";
    if ( concert.Genre.ToString().Length > 26 )
    {
        genre = concert.Genre.ToString().Substring( 0, 26 ) + ", ...";
    }
    else
    {
        genre = concert.Genre.ToString();
    }

    <div class="col-md-4">
        <div class="panel Sharp" style="background: black;">
            <div class="panel-heading">
                <a asp-controller="Concerts" asp-action="Details" asp-route-id="@concert.Id">@concert.Name</a>
                <p>Genre: @genre</p>
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="@concert.Image" style="width: 100px;height: 100px"/>
                <p>Tickets Sold: @concert.TicketsSold</p>
                Started on @concert.StartDate.ToShortDateString()
                <br/>
                Ended on @concert.EndDate.ToShortDateString()
            </div>
        </div>
    </div>
}
<button class="btn btn-custom" style="margin-left: 15px; margin-bottom: 20px">Show More</button>
<div id="toggleMore" hidden>
    @foreach ( var concert in this.Model.Skip( 3 ) )
    {
        var genre = "";
        if ( concert.Genre.ToString().Length > 26 )
        {
            genre = concert.Genre.ToString().Substring( 0, 26 ) + ", ...";
        }
        else
        {
            genre = concert.Genre.ToString();
        }

        <div class="col-md-4">
            <div class="panel Sharp" style="background: black;">
                <div class="panel-heading">
                    <a asp-controller="Concerts" asp-action="Details" asp-route-id="@concert.Id">@concert.Name</a>
                    <p>Genre: @genre</p>
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="@concert.Image" style="width: 100px;height: 100px"/>
                    <p>Tickets Sold: @concert.TicketsSold</p>
                    Started on @concert.StartDate.ToShortDateString()
                    <br/>
                    Ended on @concert.EndDate.ToShortDateString()
                </div>
            </div>
        </div>
    }
</div>
<script>
    $("button").click(function() {
        var btn = $(this);
        $("#toggleMore").toggle(300,
            function() {
                if ($(this).is(':visible')) {
                    btn.text('Show Less');
                } else {
                    btn.text('Show More');
                }
            });
    });
</script>