@model SearchEverywhereServiceModel

@{
    this.ViewBag.Title = $"Search Results For: '{this.Model.SearchTerm}'";
    this.Layout = "_Layout";
    var halfAlbums = this.Model.Albums.Count() / 2;
    var halfBands = this.Model.Bands.Count() / 2;
    var halfConcerts = this.Model.Concerts.Count() / 2;
}

<script>
    $("body").addClass(" nu-Search");
    $('main').removeAttr('id');
</script>

<section id="search-results-page">
    <h1 class="text-center">@this.ViewData[ "Title" ]</h1>

    @if ( !this.Model.Songs.Any() && !this.Model.Albums.Any() && !this.Model.Bands.Any() && !this.Model.Concerts.Any() )
    {
        <h3 class="text-center">No results found.</h3>
    }
    else
    {
        if ( this.Model.Songs.Any() )
        {
            <h2 class=" text-center w-100 my-5">Songs</h2>

            foreach ( var song in this.Model.Songs.OrderBy( c => c.Name ) )
            {
                <article class="col-lg-5 search-result">
                    <a asp-area="" asp-controller="Bands" asp-action="AlbumByTrack" asp-route-id="@song.Id">
                        <span style="font-size: @( song.Name.Length >= 25 ? 10 : 20 )px">@song.Name</span>
                    </a> - @song.Genre.ToString()
                </article>
            }
        }

        if ( this.Model.Albums.Any() )
        {
            <h2 class="text-center w-100 my-5">Albums</h2>

            foreach ( var album in this.Model.Albums.OrderBy( c => c.Name ).Take( halfAlbums ) )
            {
                <article class="col-lg-5 search-result">
                    <img src="@album.ImageUrl" style="width: 50px; height: 50px" />
                    <a asp-area="" asp-controller="Bands" asp-action="AlbumDetails" asp-route-id="@album.Id">
                        <span style="font-size: @( album.Name.Length >= 25 ? 10 : 20 )px">@album.Name</span>
                    </a>
                    <p>@album.BandName - @album.Genre</p>
                </article>
            }

        }
        if ( this.Model.Bands.Any() )
        {
            <h2 class="text-center w-100 my-5">Bands</h2>

            foreach ( var band in this.Model.Bands.OrderBy( c => c.Name ) )
            {
                <article class="col-lg-5 search-result">
                    <a asp-area="" asp-controller="Bands" asp-action="Details" asp-route-id="@band.Id">
                        <span style="font-size: @( band.Name.Length >= 25 ? 10 : 20 )px">@band.Name</span>
                    </a>
                    <p>@band.Genre</p>
                </article>
            }

        }
        if ( this.Model.Concerts.Any() )
        {
            <h2 class="text-center w-100 my-5">Concerts</h2>

            foreach ( var concert in this.Model.Concerts.OrderBy( c => c.Name ).Take( halfConcerts ) )
            {
                <article class="col-lg-5 search-result">
                    <a asp-area="" asp-controller="Concerts" asp-action="Details" asp-route-id="@concert.Id">
                        <span style="font-size: @( concert.Name.Length >= 25 ? 10 : 20 )px">@concert.Name</span>
                    </a>

                    <p> @concert.Genre</p>
                    <p>
                        <strong>
                            <em>@concert.Location - @concert.City,@concert.Country</em>
                        </strong>
                    </p>
                    <p>
                        <em>@concert.StartDate.ToShortDateString()</em> &mdash; <em> @concert.EndDate.ToShortDateString()</em>
                    </p>
                </article>
            }
        }
    }
</section>