@model IEnumerable<IndexConcertsServiceModel>

@{
    ViewBag.Title = "Concerts";
    Layout = "_Layout";
    var half = this.Model.Count() / 2;
}
<script>
    $("body").addClass(" nu-Search");
    $('main').removeAttr('id');
</script>

<section id="concerts-index">
    <h2 class="text-center w-100 my-5">@this.ViewData[ "Title" ]</h2>
    @foreach ( var concert in this.Model.OrderBy( c => c.Name ) )
    {
        <article class="col-lg-5 concert-cell">
            <a asp-area="" asp-controller="Concerts" asp-action="Details" asp-route-id="@concert.Id">
                <span style="font-size: 20px">@concert.Name</span>
                -
                @if ( concert.EndDate < DateTime.UtcNow.Date )
                {
                    <span style="color: crimson">Passed</span>
                }
                else
                {
                    <span style="color: greenyellow">Upcoming</span>
                }
            </a>
            <p>
                <strong>@concert.StartDate.ToShortDateString()</strong> &mdash; <strong>@concert.EndDate.ToShortDateString()</strong>
            </p>
            <p>
                <em><strong>@concert.Location</strong> &mdash;  @concert.City,@concert.Country</em>
            </p>
            <p>Genre: @concert.Genre.ToString()</p>
        </article>
    }
</section>