@model CreateSongViewModel 

@{
    ViewBag.Title = "Create Song";
    Layout = "_Layout";
}
<script>
    $("body").addClass("CreateSongsAdmin adm");
</script>

<h2 class="text-center pt-5 mb-5">@(this.ViewData[ "Title" ])</h2>
<br/>
<div class="row">
    <div class="col-6 offset-3">
        <form method="post"class="py-2">
            <div class="form-group">
                <label asp-for="@(this.Model.Song.Name)"></label>
                <input asp-for="@(this.Model.Song.Name)" class="form-control Sharp" placeholder="Enter Song Name..."/>
                <span asp-validation-for="@(this.Model.Song.Name)" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@(this.Model.Song.Genre)"></label>
                <select asp-for="Song.Genre" class="form-control Sharp">
                    <option selected disabled>Select Genre...</option>
                    @foreach ( var enumValue in Enum.GetValues( typeof( Genre ) ).Cast< Genre >() )
                    {
                        <option value="@( ( int ) enumValue )">@enumValue</option>
                    }
                </select>
                <span asp-validation-for="@(this.Model.Song.Genre)" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@(this.Model.Song.UrlId)"></label>
                <input asp-for="@(this.Model.Song.UrlId)" class="form-control Sharp" placeholder="Enter the YouTube Id..."/>
                <span asp-validation-for="@(this.Model.Song.UrlId)" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label form="BandAlbum">Album</label>
                <select class="form-control Sharp" asp-for="Song.AlbumId">
                    <option disabled selected>Select Album...</option>
                    @foreach ( var band in this.Model.Bands )
                    {
                        <optgroup label="@band.Name">
                            @foreach ( var album in band.Albums )
                            {
                                <option value="@album.Id">@album.Name</option>
                            }
                        </optgroup>
                    }
                </select>
                <span asp-validation-for="@(this.Model.Song.AlbumId)" class="text-danger"></span>
            </div>
            <input type="submit" class="btn  btn-custom Sharp" value="Create Song"/>
        </form>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync( "_ValidationScriptsPartial" )
}