@model IEnumerable<ListAllTicketsServiceModel>

@{
    this.ViewBag.Title = "Cart";
    this.Layout = "_Layout";
    var ticketsIds = string.Join( "%/%", this.Model.Where( t => t.IsPaid == false ).Select( t => t.Id ) );
}
<script>
    $("body").addClass("cart")
</script>
<h2 class="pt-5 mb-5 text-center">@this.ViewData[ "Title" ]</h2>

<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Concert Name</th>
                <th>Number Of Tickets</th>
                <th>Sum</th>
                <th>Paid</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var ticket in this.Model )
            {
                <tr>
                    <td>@ticket.Id</td>
                    <td>
                        <a asp-area="" asp-controller="Concerts" asp-action="Details" asp-route-id="@ticket.ConcertId">@ticket.ConcertName</a> : From <strong>
                            <em>@ticket.ConcertStartDate.ToShortDateString()</em>
                        </strong> to <strong>
                            <em>@ticket.ConcertEndDate.ToShortDateString()</em>
                        </strong>
                    </td>
                    <td>@ticket.Count</td>
                    <td>$@ticket.TicketPrice</td>
                    <td>@( ticket.IsPaid ? "Yes" : "No" )</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-area="" asp-controller="Concerts" asp-action="Index" class="btn btn-success Sharp">Browse More Concerts</a>
        @if ( this.Model.Any( t => t.IsPaid == false ) )
        {
            <a asp-controller="Users" asp-action="Checkout" asp-route-idsInput="@ticketsIds" class="btn btn-primary Sharp">Go to Checkout?</a>
        }
    </div>
</div>