@model  IEnumerable< ListAllConcertsServiceModel > 

@{
    ViewBag.Title = "All Concerts";
    Layout = "_Layout";
}

<h2>@this.ViewData[ "Title" ]</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Country</th>
        <th>City</th>
        <th>№ Bands Playing</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach ( var concert in this.Model )
    {
        <tr>
            <td>@concert.Name</td>
            <td>@concert.Genre.ToString()</td>
            <td>@concert.Country</td>
            <td>@concert.City</td>
            <td>@concert.NumberOfBandsPlaying</td>
            <td>
                <a asp-area="Organizer" asp-controller="ConcertsOrganizer" asp-action="Edit" asp-route-id="@concert.Id" class="btn btn-sm btn-warning Sharp">Edit</a>
                <a class=" btn btn-sm btn-danger Sharp">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>